<?xml version="1.0"?>

<model>
  <name>sensing_environment</name>
  <version>1.4</version>
  <sdf version="1.4">sensing_environment.sdf</sdf>

  <author>
    <name>Daniel Lee</name>
    <email>djl59@cornell.edu</email>
  </author>

  <description>
    A simulation environment for SMORES simulation
  </description>
</model>
